.card-ruta {
  position: relative;
  border: 2px solid gainsboro;
  height: fit-content;
  width: 100%;
  cursor: pointer;

  .cover-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../images/cover.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 320px;
    color: white;
    text-align: center;
    @media (max-width: 1063px) {
      height: 290px;
    }
    @media (max-width: 600px) {
      display: none !important;
    }
  }
  .status {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: white;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 14px;
  }

  .card-image {
    padding-top: 30px;
    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;

      @media (max-width: 1050px) {
        width: 90px;
        height: 90px;
      }
    }
  }
  @media (max-width: 600px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../images/cover.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-evenly;
  }

  .card_parameters {
    p {
      @media (max-width: 650px) {
        font-size: 0.8rem;
      }
    }
  }
  .card_icons_bottom {
    font-size: 2rem;
    @media (max-width: 650px) {
      font-size: 1.7rem;
    }
  }
}
