.contul_meu_container {
  background-color: transparent;
  color: white;
  padding: 20px;
  border: 2px solid rgb(40 36 53);
  border-radius: 8px;
  max-width: 1450px;
  margin: 20px auto;

  .user_info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .profile_picture {
      flex: 0 0 150px;
      height: 150px;
      background-color: #282435;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }

    .user_details {
      h2 {
        font-size: 2rem;
        margin-bottom: 5px;
      }

      p {
        margin: 0;
        font-size: 1.1rem;
        color: #b5b5b5;
      }
    }
  }

  .user_bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    .bio_item {
      margin-bottom: 10px;
      font-size: 1.1rem;

      span:first-child {
        font-weight: bold;
      }

      span:last-child {
        margin-left: 10px;
      }
    }
  }

  .participations {
    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.1rem;
      color: #b5b5b5;
    }
    .tour-item {
      .btn {
        width: fit-content;
        position: relative;
      }
    }
  }
  .contact_info {
    margin-top: 20px;

    h4 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      svg {
        margin-right: 10px;
      }
    }
  }
  .btn_editare {
    width: 100%;
    padding: 15px;
    background-color: transparent;
    border: 2px solid #fd390e;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #fd390e;
    }
  }
}
