.editare_profil_form {
  color: white;
  padding: 20px;
  border: 2px solid #282435;
  border-radius: 8px;
  max-width: 1200px;
  margin: 15px auto;
  background-color: #1a1a2e;

  h2,
  h3 {
    margin-bottom: 20px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;

    option {
      color: white;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-size: 1.1rem;
      color: gainsboro;
    }

    .form-control {
      color: white;
      background-color: rgb(40 36 53);
      border: 1px solid #444;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 8px;
      font-size: 1rem;
      border: 1px solid #ced4da;
      border-radius: 4px;
      color: #f1f1f1;
    }
  }

  .btn-primary {
    background-color: #fd390e;
    border: 2px solid #fd390e;
    color: white;
    &:hover {
      background-color: transparent;
      color: white;
      border: 2px solid #fd390e;
    }
  }

  .btn-secondary {
    background-color: #fd390e;
    color: white;
    border: 2px solid #fd390e;
    &:hover {
      background-color: transparent;
      color: white;
      border: 2px solid #fd390e;
    }
  }

  .profile_picture_container {
    background-color: #282435;
    border: 1px solid #444;
    padding: 20px;
    border-radius: 8px;
    .avatar {
      width: 100%;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    .btn-warning {
      background-color: #fd390e;
      border: 2px solid #fd390e;
      color: white;
      &:hover {
        background-color: transparent;
        color: white;
        border: 2px solid #fd390e;
      }
    }

    .btn-danger {
      background-color: #dc3545;
      border: 2px solid #fd390e;
      color: white;
      &:hover {
        background-color: transparent;
        color: white;
        border: 2px solid #fd390e;
      }
    }
  }
  @media (max-width: 450px) {
    .form-group {
      label,
      input,
      textarea {
        font-size: 0.8rem;
      }
    }
    .btn {
      font-size: 0.8rem;
      padding: 5px;
    }
  }
}
