button:not(:disabled) {
  cursor: pointer;
  width: fit-content;
}
.top_button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 75%;
  color: rgb(138, 43, 226);
  background-color: transparent;
  padding: 5px;
  border: 0;
  z-index: 1000;
}
.top_button.hide {
  display: none;
}

.modal_button {
  font-size: 1rem;
  margin-right: 15px;
  text-decoration: none;
  background-color: transparent;
  color: #fd390e;
  border: 2px solid #fd390e;
  border-radius: 5px;
  align-items: center;
  padding: 4px 12px;
  max-width: 180px;
  &:hover {
    background-color: #fd390e;
    color: white;
  }
}
