.navbar {
  background-color: rgb(40 36 53);
  .navbar-logo {
    max-width: 50px;
  }
  .navbar-toggler {
    border: none;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      background-color: #fd390e;
    }
  }
  .navbar-nav {
    .nav-item {
      a {
        color: gainsboro;
        &:hover {
          color: white;
        }
      }
    }
    svg {
      path {
        color: #fd390e;
      }
    }
    .btn-outline-danger {
      border-color: #fd390e;
      color: white;
      svg {
        path {
          color: white;
        }
      }
      &:hover {
        background-color: #fd390e;
      }
    }
    .checkbtn {
      cursor: pointer;
    }
    @media (max-width: 991px) {
      li {
        border: 2px solid rgba(220, 220, 220, 0.5);
        border-radius: 10px;
        text-align: center;
        &:hover {
          background-color: #fd390e;
        }
        .btn-outline-danger {
          width: 100%;
          background-color: transparent;
          border: none;
          color: white;
          svg {
            path {
              display: none;
            }
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
    @media (max-width: 767px) {
      .navbar-nav {
        flex-direction: column;
      }
      .navbar-nav.ml-auto,
      .navbar-nav.mr-auto {
        margin: 0;
      }
    }
  }
}
